__pycache__/
env
.gitignore
FLASKINTRODUCTION/*
test.db

# Local Host: http://localhost:5000/
# press start to start local host
# ctrl+c to end local host

# To update git master
# git status   (to check)
# git -a -m "Update "
# git push

# To update online server: https://firstapplatios.herokuapp.com/
# git commit -a -m "MESSAGE"
# git push heroku master

# If you hold down shift and press the refresh button it will do a forced refresh and all css will come up