body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: lightblue;
    animation: animate 2s ease;
}

@keyframes animate{
    0%{ background-color: #9b59b6;}
    50%{ background-color: #3498db;}
    100%{ background-color: #16a085;}
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}